<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="main-title">Daily Tasks</h1>
    <div class="content">

    </div>
    <footer class="footer">
      <h2>&copy;Web Trend</h2>
      <div class="inner-container">
        <h2>Notion <small>The all-in-one Workspace</small></h2>
      </div>
    </footer>
  </body>
  <script src="js/script.js" type="text/javascript"></script>
</html>